body {
  margin: 0;
  padding-top: 68px;
}

footer {
  background-color: #ebeaf3;
  padding: 5px;
  margin-top: -27px;
  text-align: right;
}

footer .col {
  padding-right: 3px;
  height: 1em;
}

footer p {
  text-align: left;
}

.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

/* test */
.content{
  height: 200vh;
}




/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/