body {
  height: 100%;
  margin: 0;
}

footer {
  background-color: #ebeaf3;
  height: 50px;
  padding: 5px;  
  text-align: center;
  margin-top: -50px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/