body {
  height: 100%;
  margin: 0;
}

footer {
  background-color: #ebeaf3;
  padding: 5px;
  margin-top: -50px;
  position: relative;
  align-items: center;
  text-align: right;
}

.col {
  padding-right: 3px;
}

footer p {
  text-align: left;
}




/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/