
  <nav class="nav__menu sticky top-bar" #stickyMenu [class.sticky]="sticky">
    <img  class="nav__logo" src="../assets/pizzalogo.png" aria-current="page" [routerLink]="['/']" href="#" />
    <ul class="nav__links">
      <li class="nav__item">
        <a class="nav__link" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Menu</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" [routerLink]="['/about']" href="/about">About</a>
      </li>
      <li class="nav__item">
        <a type="button" class="btn nav__link nav__link--btn">ORDER</a>
      </li>
    </ul>
  </nav>

