nav {
  width: 100%;
  height: 10rem;
  background: linear-gradient(to top left,#df2e2f, white, #33995e);
  padding: 0 6rem;
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  z-index: 100;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  font-size: 2rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  background-color: #333;
  color: #333;
}

.nav__logo {
  height: 9rem;
  transition: all 0.3s;
  background-color: transparent;
}

/* h1 {
  color: white;
  margin: 0;
}

a {
  color: white;
  padding: 30px;
}

a:hover {
  color: black;
  opacity: 0.8;
} */

.nav__item {
  margin-left: 5rem;
}

.btn {
  display: inline-block;
  background-color: transparent;
  background-image: url("https://images.squarespace-cdn.com/content/v1/58ac7efb6b8f5b3bdce9a441/1560880713570-SHOGLAISOY3H7Y1S6E7H/Italian+Flag.JPG");
  background-position-x: -1.5rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  color: #333;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}



